.idea
cmake-build-debug
CMakeLists.txt
cs311sim.dSYM
__pycache__
*.docx
*.zip
dataset.txt
.env
.ipynb_checkpoints
data
*.txt
glove_learned
w2v_learned
*.xml
*.conll
malteval
MaltEval
MaltOptimizer-1.0.3
maltparser-1.9.2
*.pickle
*.plain
*.tsv
*.csv
*.pptx
